body {
  background-image: url('http://getwallpapers.com/wallpaper/full/4/1/a/1016770-large-wallpaper-library-1920x1080-for-macbook.jpg');
  background-repeat: no-repeat;
  background-size: stretch;
  background-position: center;
  color: white;
  text-align: center;
  justify-content: center;
}


/* .App {
  text-align: center;
  justify-content: center;
} */

.App-header {
  background-color: rgba(245, 97, 97, 0.795);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-links {
  margin: 5px;
  color: rgb(26, 16, 122)
}

.container {
  background-color: rgba(107, 75, 32, 0.767);
  width: fit-content;
  border: 1px black solid;
  border-radius: 5px;
  align-content: center;
  justify-self: center;
  margin: 30px;
}